bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.idea/
project.lock.json
project.fragment.lock.json
artifacts/
ScaffoldingReadMe.txt
*.log
.DS_Store
Thumbs.db
**/Migrations/*ModelSnapshot.cs
*.db
*.db-shm
*.db-wal
*.sqlite
secrets.json
TestResults/
publish/
node_modules/